*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}html {
    scroll-behavior: smooth;
    max-width: 100% !important;
    overflow-x: hidden !important;
}body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    position: relative;
}a {
    text-decoration: none;
    color: #FFF;
}.navigation {
    background-color:#FFF;
    position: fixed;
    width: 100%;
    height: auto;
}a i{
    color: black;

}.nav {
    display:flex;
    flex-wrap: nowrap;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}.nav-item {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}.nav-item.active::after {
    content: '';
    background: rgb(109, 29, 29);
    height: 2px;
    width: 100%;
    position: absolute;
    display: inline-block;
}main, section, footer {
    width: 100%;
    height: 100vh;
}main {
    min-height: 100vh;
    background-image: linear-gradient(-45deg, #ffbf5f 50%, #000 50%);
    font-family: 'Raleway', sans-serif;    
    height: 100%;
}h1 {
    display: none;
}section#grilla {
    background-color: #6a6ae4;
    height: 100%;
}section {
    background-color: rgb(194, 154, 103);
    height: 100%;
}footer {
    background-color: #202020;
    color: #fff;
    height: 100%;
    padding-top: 40px;
}

h3 {
    font-size: 20px;
}

.carrusell-container {
    position:absolute;
    width: 100%;
    height: 20rem;
    top: 0;
    left: 0;
    z-index: -1;
    
}

.table-container {
    background-color: #ffbf5f;
}

/* ESTILOS DEL CAROUSEL */

.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

/* estilos de materialize */
.carousel {
  
   max-height: 350px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;   
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators li.indicator-item {

    border-radius: 0;
    transform: rotate(45);
    margin: 0 15px;
    background:rgb(158, 60, 60);
}

nav ul li.active {
    background-color: #FFF;
}

table.highlight>tbody>tr:hover {
    background-color: #ffed54;     /* whatever color you want */
}
table.highlight>tbody>tr {
    color: rgb(158, 60, 60);

    font-weight: bold;                                     /* whatever color you want */
}


/* customizador de container */
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }
  @media only screen and (min-width: 601px) {
    .container {
      width: 85%;
    }
  }
  @media only screen and (min-width: 993px) {
    .container {
      width: 90%;
    }
  }

  .formulario {
      width: 100%;
      height:250px ;
      color: black;
      z-index: -1;
  }
.form-container {
    display: flex;
    background-color: #ffbf5f;
}

.pintarGrilla {
    background-image: linear-gradient(-45deg, #ffbf5f 50%, #000 50%);
    
}

.galeria-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-image{
    width: 280px;
    height: 280px;
    margin-top: 4px;
    margin-right: 4px;
}

.container-footer-all{

    max-width: 1200px;
}

.container-footer-body{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width: 400px;
}.column1 h3{
    font-size: 22px;  
    text-align: center; 
}.column1 p{
    font-size: 14px;
    color: #c7c7c7;
}

.column2{
    min-width: 400px;
    text-align: center;
}.column2 h3{
    font-size: 22px;
}.column2 .row{
    margin-top: 20px;
    display: flex;

}.row img{
    width: 35px;
    height: 36px;
    justify-content: flex-start;
}.row label{    
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.column3{
    min-width: 400px;
    
}.column3 h3{
    font-size: 22px;
    text-align: center;
}.row2{
    margin-top: 20px;
    display: flex;
    align-items: center;
  
}.row2 i{
    width: 36px;
    height: 36px;
    font-size: 36px;
}.row2-map i{
    width: 36px;
    height: 36px;
    font-size: 36px;
}.row2 label {
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}.copyright {
    color: #c7c7c7;
}a{
    font-weight: bold;
}.information {
    margin-right: 200px;
}.information a{
color: #c7c7c7;
}

@media screen and (max-width: 1100px){
    
    .container-footer-body{
        flex-wrap: wrap;
    }
    .column1 {
        max-width: 100%;
    }
    .column2,
    .column3{
        margin-top: 40px;
    }
    .container-image {
        min-width: 100%;
        height: 100%;
       
    }
}