*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html {
    scroll-behavior: smooth;
}body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    position: relative;
}a {
    text-decoration: none;
    color: #FFF;
}.navigation {
    background-color:#FFF;
    position: fixed;
    width: 100%;
    height: auto;
}.nav {
    display:flex;
    flex-wrap: nowrap;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}.nav-item {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}.nav-item.active::after {
    content: '';
    background: rgb(109, 29, 29);
    height: 2px;
    width: 100%;
    position: absolute;
    display: inline-block;
}main, section, footer {
    width: 100%;
    height: 100vh;
}main {
    min-height: 100vh;
    background-image: linear-gradient(-45deg, #ffbf5f 50%, #000 50%);
    font-family: 'Raleway', sans-serif;    
}section {
    background-color: rgb(194, 154, 103);
}section#grilla {
    background-color: #6a6ae4;
}footer {
    background-color: rgb(88, 88, 88);
}

h3 {
    font-size: 20px;
}

.image-ws img {
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.carrusell-container {
    position:absolute;
    width: 100%;
    height: 20rem;
    top: 0;
    left: 0;
    z-index: -1;
    
}

/* ESTILOS DEL CAROUSEL */

.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

/* estilos de materialize */
.carousel {
  
   max-height: 350px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;   
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators li.indicator-item {

    border-radius: 0;
    transform: rotate(45);
    margin: 0 15px;
    background:rgb(158, 60, 60);
}

nav ul li.active {
    background-color: #FFF;
}

table.highlight>tbody>tr:hover {
    background-color: rgba(200, 65, 11, 0.5);      /* whatever color you want */
}
table.highlight>tbody>tr {
    color: rgb(3, 119, 109);                                     /* whatever color you want */
}


/* customizador de container */
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }
  @media only screen and (min-width: 601px) {
    .container {
      width: 85%;
    }
  }
  @media only screen and (min-width: 993px) {
    .container {
      width: 90%;
    }
  }

  .contacto-container {
    display: flex;
    text-align: center;
    height: auto;
    align-items: end;   
  }

  .formulario {
      width: 100%;
      height: 200px;
      background-color: #ffbf5f;
  }